/* 🎨 Couleurs */
:root {
  --text: #2c3e50;
  --text-h: #08060d;
  --bg: #e8edf5;
  --bgdark: #bcd0f1;
  --border: #e5e4e7;

  /* Typo */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3 {
  font-weight: bold;
  color: var(--text);
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

header {
  background-color: var(--bgdark);
  padding: 3rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.kanban__board {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
}

.kanban__tag {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 200px;
  padding: 0.8rem;
}

.kanban__tags {

  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: white;

}

.kanban__card {

  background-color: var(--bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: border 0.2s ease;
  padding: 1.5rem;
  cursor: pointer;

}

.kanban__card:hover {
  Border: 2px solid var(--bgdark);
}

.kanban__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  flex: 0 0 300px;
  padding: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.kanban__list h2 {
  padding: 0.8rem;
  border-bottom: 2px solid var(--text);
}