/* 🎨 Couleurs */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #e8edf5;
  --bgdark: #bcd0f1;
  --border: #e5e4e7;

  /* Accent */
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  /* UI */
  --code-bg: #f4f3ec;
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /* Typo */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--bg);
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

header {
  background-color: var(--bgdark);
  padding: 3rem;
}

p {
  margin: 0;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.kanban__board {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.kanban__card {
  border: 1px solid green;
  border-radius: 1rem;
}

.kanban__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  padding: 2rem;
  border: 1px solid red;
  border-radius: 1rem;
}
